.container {
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //   justify-content: center;
}

.backTitle {
  width: 100%;
  padding: 4px 8px;
  background: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  .backBtn {
    width: 32px;
    height: 32px;
  }
  .title {
    @include fontStyle(18, 400, #fff);
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .topBtn {
    @include fontStyle(14, 400, rgba(255, 255, 255, 0.6));
    width: 32px;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}

.lightPinkBtn {
  padding: 6px 12px;
  background: #f84f83;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  span {
    @include fontStyle(13, 400, #fff);
  }
  .plus {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    &::after,
    &::before {
      content: '';
      width: calc(100% - 4px);
      height: 2px;
      margin: auto;
      border-radius: 10px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &::before {
      transform: rotate(90deg);
    }
  }
}

.masthead {
  width: 100%;
  padding: 24px 0 32px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(180deg, #0f0f0f 65%, transparent 100%);
  @include rwd($rwd-level-two) {
    padding: 24px 16px;
    background: #0f0f0f;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.7);
  }
  .title {
    width: 100%;
    span {
      @include fontStyle(32, 700, #fff);
    }
  }
  .tabList {
    width: 100%;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    &::-webkit-scrollbar {
      display: none;
    }
    @include rwd($rwd-level-two) {
      padding-bottom: 0;
    }
    li {
      padding-bottom: 2px;
      position: relative;
      @include fontStyle(16, 400);
      cursor: pointer;
      &::before {
        content: '';
        width: 0;
        height: 2px;
        background: #fff;
        position: absolute;
        @include pos(bl, 0);
        text-shadow: none;
        transition: all 0.3s ease-in;
      }

      &:hover {
        text-shadow: 1px 0px 20px #c4c4c4c4;
      }
      &.active {
        &:hover {
          text-shadow: none;
        }
        &::before {
          width: 100%;
        }
      }
    }
  }
}

.boxList {
  width: 100%;
  // max-width: 1400px;
  padding: 0px 24px calc(80px + constant(safe-area-inset-bottom)) 100px;
  padding: 0px 24px calc(80px + env(safe-area-inset-bottom)) 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-shrink: 0;
  column-gap: 32px;
  row-gap: 32px;
  @include rwd($rwd-level-two) {
    padding: 24px 16px calc(80px + constant(safe-area-inset-bottom));
    padding: 24px 16px calc(80px + env(safe-area-inset-bottom));
    column-gap: 8px;
    row-gap: 16px;
  }
  @at-root .BLcard {
    width: calc(100% / 4 - 24px);
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in;
    gap: 4px;
    cursor: pointer;
    @include glassmorphism(60);
    &:hover {
      box-shadow: 0 8px 32px 0 rgba(159, 160, 173, 0.219);
    }
    @include rwd($rwd-level-one) {
      width: calc(100% / 3 - 21.4px);
    }
    @include rwd($rwd-level-two) {
      width: calc(100% / 2 - 4px);
    }
    @at-root .cardPic {
      width: 100%;
      padding-bottom: 56%;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      // background: url(@/assets/mvlist.jpg) no-repeat center / cover;
      img,
      .video-js {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        animation: fadeIn 1s forwards;
      }
    }
    @at-root .cardTitle {
      .title {
        @include txtChip(2);
        @include fontStyle(16, 700, #fff);
        @include rwd($rwd-level-two) {
          @include txtChip(1);
        }
      }
    }
    @at-root .cardContent {
      p {
        @include txtChip(3);
        @include fontStyle(14, 400, #c0c0c0);
        @include rwd($rwd-level-two) {
          @include txtChip(2);
        }
      }
    }
  }
  .vertical {
    @include rwd(860) {
      width: calc(100% / 3 - 2.7px);
    }
    .cardPic {
      width: 100%;
      padding-bottom: 140%;
      position: relative;
      overflow: hidden;
    }
  }
}

@mixin videoOverlay() {
  position: relative;
  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
}

%extendEllipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: auto;
  line-height: inherit;
  overflow: hidden;
}

@mixin useEllipsis($width, $line-count) {
  width: $width;
  -webkit-line-clamp: $line-count;
  overflow: hidden;
  @extend %extendEllipsis;
}

.modalBG {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  @include pos(tl, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  //   @include rwd($rwd-level-two) {
  //     animation: slideIn 0.5s ease-in-out;
  //   }
  .modalContainer {
    max-width: 1200px;
    width: calc(100% - 80px);
    height: calc(100vh - 100px);
    height: calc(100dvh - 100px);
    padding: 24px;
    border-radius: 24px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transition: all 0.3s ease-in;

    @include rwd($rwd-level-two) {
      max-width: none;
      width: 100%;
      height: 100vh;
      height: 100dvh;
      border-radius: initial;
    }
    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      @include rwd($rwd-level-two) {
        justify-content: flex-start;
      }
    }
    .closeBtn {
      background-color: #2e2e2e;
      @include closeBtnStyle(30, #fff);
      border-radius: 50%;
      margin: 0;
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: 1px 0 10px 0px #c4c4c45b;
      }
      @include rwd($rwd-level-two) {
        &::after,
        &::before {
          width: calc(100% - 20px);
          top: -6px;
          right: 4px;
          transform: rotate(-40deg);
        }
        &::before {
          top: 6px;
          transform: rotate(40deg);
        }
      }
    }
  }
}

.loadingWrap {
  width: 100%;
  height: calc(100dvh - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  @include fontStyle(16, 400, #b6b6b6f1);
  .lottie-animation-container {
    width: 250px;
    height: 250px;
    padding: 0;
    @include rwd($rwd-level-two) {
      width: 150px;
      height: 150px;
    }
  }
  span {
    position: absolute;
    @include pos(tl, 50%);
    transform: translate(-50%, 30px);
    @include rwd($rwd-level-two) {
      transform: translate(-50%, 20px);
    }
  }
}

.noData {
  width: 100%;
  height: calc(100dvh - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  @include fontStyle(16, 400, #b6b6b6f1);
  .cardPic {
    width: 250px;
    padding-bottom: 250px;
    @include rwd($rwd-level-two) {
      width: 150px;
      padding-bottom: 150px;
    }
  }
}
