@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Noto+Sans:wght@400;700&display=swap");
:root {
  background-color: #101010;
  -webkit-tap-highlight-color: transparent;
  font-family: "Noto Sans", sans-serif;
  color-scheme: light dark;
  color: #efefef;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  &:has(.modal),
  :has(.bodyIsHidden) {
    overflow: hidden;
  }
}

@supports (
    (height: constant(safe-area-inset-top)) or
      (height: env(safe-area-inset-top))
  )
  and (-webkit-overflow-scrolling: touch) {
  #app {
    /* 适配齐刘海 */
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    /* 适配底部小黑条 */
    padding-bottom: 0;
    padding-bottom: costant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@media screen and (orientation: portrait) {
  #app {
    /* 防止页面被刘海遮住 */
    padding-top: constant(safe-area-inset-top);
  }
}

@media screen and (orientation: landscape) {
  #app {
    /* IOS 11支持*/
    padding-right: constant(safe-area-inset-right);
    padding-left: constant(safe-area-inset-left);
    /*IOS 11.2版本版本支持*/
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }
}
